@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
* {
  font-family: "Shippori Antique", sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.card {
  background-color: gainsboro;
  border-radius: 1rem;
  margin: 1rem;
  width: 7rem;
  height: 13rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin-top: -0.5rem;
}

.type {
  font-size: 0.75rem;
  padding: 0.25rem;
}

.grass {
  background-color: lawngreen;
}

.fire {
  background-color: crimson;
  color: white;
}

.water {
  background-color: turquoise;
}

.bug {
  background-color: yellowgreen;
}

.normal {
  background-color: bisque;
}

.poison {
  background-color: purple;
  color: whitesmoke;
}

.electric {
  background-color: yellow;
}

.ground {
  background-color: burlywood;
}

.fairy {
  background-color: pink;
}

.fighting {
  background-color: saddlebrown;
  color: whitesmoke;
}

.psychic {
  background-color: purple;
  color: whitesmoke;
}

.rock {
  background-color: sandybrown;
}

.ghost {
  background-color: rgb(97, 30, 221);
  color: whitesmoke;
}

.dragon {
  background-color: rgb(128, 81, 240);
  color: whitesmoke;
}

.ice {
  background-color: lightblue;
}
